AWS_REGION=ap-northeast-2
AWS_ENDPOINT_URL=http://localhost:4566
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
ARTIFACT_BUCKET=remak-artifacts
ARTIFACT_BUCKET_ARN=arn:aws:s3:::remak-artifacts
SCRAPE_REQUEST_QUEUE_ARN=arn:aws:sqs:ap-northeast-2:000000000000:remak-scrape-request
SCRAPE_RESULT_QUEUE_URL=http://localhost:4566/000000000000/remak-scrape-result
SCRAPE_RESULT_QUEUE_ARN=arn:aws:sqs:ap-northeast-2:000000000000:remak-scrape-result
MAX_SCRAPE_ATTEMPTS=3
SCRAPER_RESERVED_CONCURRENCY=2
